Site/home.html

<div class="row">
  <div class="columns large-8 medium-7 small-12">
    <div class="row">
      <div id="presentation" class="columns large-12 medium-12 small-12">
        <div id="slider">
          <div id="slides">
            <div><img src="img/slide.png"/></div>
            <div><img src="img/slide1.png"/></div>
            <div><img src="img/slide2.png"/></div>
          </div><i class="fi-pause"></i>
        </div>
        <h3>Le CDOS, un incontournable du sport en Loire-Atlantique</h3>
        <p>Au total, ce sont 67 comités départementaux qui sont aujourd'hui affiliés au CDOS 44 . Fédérateur et représentatif du sport associatif départemental, le CDOS 44 est l'interlocuteur privilégié des pouvoirs publics, dans les affaires sportives en Loire-Atlantique. Il intervient ainsi en permanence aux côtés du Conseil Général de Loire-Atlantique et des services déconcentrés de l'Etat représentant le Ministère de la Jeunesse, des Sports et de la Vie Associative. Dans le cadre d'une politique sportive départementale, le rôle du CDOS 44 est de défendre le sport en général et ses valeurs éducatives et sociales en qualité de partenaire du Conseil Général et de la DDCS.</p>
      </div>
    </div>
    <div class="row">
      <div id="evenements" class="columns large-6 medium-6 small-12">
        <h3>Les évènements
        </h3>
        <ul>
          <li>
            <div class="datetime">
              <div class="date">
                <div>23-30 Mars</div>
                <div>2015</div>
              </div>
              <div class="time">
                <div>14-17h</div>
              </div>
            </div>
            <div class="content">
              <div class="title"><a href="">Venez découvrir le Bask'in nouvelle pratique sportive regroupant les personnes valides et en situation de handicap...</a></div>
              <div class="location">Lieu : Nantes</div>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="datetime">
              <div class="date">
                <div>12 Jan</div>
                <div>2015</div>
              </div>
              <div class="time">
                <div>12h</div>
              </div>
            </div>
            <div class="content">
              <div class="title"><a href="">Stage jeunes nouveaux et futurs dirigeants</a></div>
              <div class="location">Lieu : Nantes</div>
            </div>
            <div class="clear"></div>
          </li>
          <li><a href="">Voir plus d'évènements ...</a></li>
        </ul>
      </div>
      <div id="formations" class="columns large-6 medium-6 small-12">
        <h3>Prochaines formations</h3>
        <ul>
          <li>
            <div class="datetime">
              <div class="date">
                <div>26 Mars</div>
                <div>2015</div>
              </div>
              <div class="time">
                <div>19h</div>
              </div>
            </div>
            <div class="content">
              <div class="title"><a href="">Sophrologie</a></div>
              <div class="location">Lieu : Nantes</div>
              <div class="availablePlaces">Place(s) disponible(s) : 1</div>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="datetime">
              <div class="date">
                <div>25 Mars</div>
                <div>2015</div>
              </div>
              <div class="time">
                <div>19h</div>
              </div>
            </div>
            <div class="content">
              <div class="title"><a href="">La fiscalité des associations</a></div>
              <div class="location">Lieu : Nantes</div>
              <div class="availablePlaces">Place(s) disponible(s) : 11</div>
            </div>
            <div class="clear"></div>
          </li>
          <li><a href="">Voir plus de formations ...</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div id="partenaires" class="columns large-12 medium-12 small-12">
        <h3>Nos partenaires</h3>
        <ul>
          <li><a><img src="img/partenaires/BM_44.jpg"/></a></li>
          <li><a><img src="img/partenaires/Conseil-g_n_ral.jpg"/></a></li>
          <li><a><img src="img/partenaires/logo_casal+www.jpg"/></a></li>
          <li><a><img src="img/partenaires/Logo_credit_Mutuel.jpg"/></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="columns large-4 medium-5 small-12">
    <aside>
      <h5>Actualité</h5>
      <div id="actualites">
        <div data-actu="1" class="actu">
          <p class="title">Revue de Presse du CDOS</p><small>le vendredi 13 Mars 2015</small>
          <p>Comme chaque mois, le CDOS 44 diffuse à l'ensemble de ses adhérents, la Revue de Presse du mois précédent.</p>
        </div>
        <div data-actu="2" class="actu">
          <p class="title">Le 29 mars : Raid du Quai vert</p><small>le lundi 02 Mars 2015</small>
          <p>3ème édition du Raid du Quai vert, éco-responsable ouvert à tous les amoureux des sports de nature !</p>
        </div>
        <div data-actu="3" class="actu">
          <p class="title">Dossier de demande de Subvention CNDS 2015</p><small>le vendredi 17 février 2015</small>
          <p>La campagne CNDS 2015 est lancée. Vous pouvez télécharger les documents supports : dossier CNDS 2015 clubs 44, comité, note d’orientation départementale et guide projet club au sein de cet article.</p>
        </div>
        <div class="footer"><a id="actu-prev" class="btn fi-arrow-left"></a><a id="actu-next" class="btn fi-arrow-right"></a><a class="btn fi-arrows-expand"></a></div>
      </div>
    </aside>
    <aside>
      <h5>Boîte à outils</h5>
      <div>
        <ul>
          <li><a>Centre de ressources</a></li>
          <li><a>Formations</a></li>
          <li><a>Services aux comités</a></li>
          <li><a>Acteurs du Sport</a></li>
          <li><a>Trouver un comité</a></li>
          <li><a>Glossaire</a></li>
          <li><a>Newsletter</a></li>
        </ul>
      </div>
    </aside>
  </div>
</div>
<script type="text/javascript">
  $('#slides').slick({
  	autoplay: true,
  	autoplaySpeed: 3000,
  	infinite: true,
  	fade: true,
  	cssEase: 'linear'
  });
</script>

Site/home.jade
.row
	.columns.large-8.medium-7.small-12
		.row
			#presentation.columns.large-12.medium-12.small-12
				#slider
					#slides
						div
							img(src="img/slide.png")
						div
							img(src="img/slide1.png")
						div
							img(src="img/slide2.png")
					i.fi-pause
				h3 Le CDOS, un incontournable du sport en Loire-Atlantique
				p Au total, ce sont 67 comités départementaux qui sont aujourd'hui affiliés au CDOS 44 . Fédérateur et représentatif du sport associatif départemental, le CDOS 44 est l'interlocuteur privilégié des pouvoirs publics, dans les affaires sportives en Loire-Atlantique. Il intervient ainsi en permanence aux côtés du Conseil Général de Loire-Atlantique et des services déconcentrés de l'Etat représentant le Ministère de la Jeunesse, des Sports et de la Vie Associative. Dans le cadre d'une politique sportive départementale, le rôle du CDOS 44 est de défendre le sport en général et ses valeurs éducatives et sociales en qualité de partenaire du Conseil Général et de la DDCS.

		.row
			#evenements.columns.large-6.medium-6.small-12
				h3 Les évènements
					//- http://www.cdos44.fr/index.php?option=com_content&view=category&layout=blog&id=3&Itemid=177
				ul
					li
						.datetime
							.date
								div 23-30 Mars
								div 2015
							.time
								div 14-17h
						.content
							.title
								a(href="") Venez découvrir le Bask'in nouvelle pratique sportive regroupant les personnes valides et en situation de handicap...
							.location Lieu : Nantes
						.clear

					li
						.datetime
							.date
								div 12 Jan
								div 2015
							.time
								div 12h
						.content
							.title
								a(href="") Stage jeunes nouveaux et futurs dirigeants
							.location Lieu : Nantes
						.clear

					li
						a(href="") Voir plus d'évènements ...

			#formations.columns.large-6.medium-6.small-12
				h3 Prochaines formations

				ul
					li
						.datetime
							.date
								div 26 Mars
								div 2015
							.time
								div 19h
						.content
							.title
								a(href="") Sophrologie
							.location Lieu : Nantes
							.availablePlaces Place(s) disponible(s) : 1
						.clear

					li
						.datetime
							.date
								div 25 Mars
								div 2015
							.time
								div 19h
						.content
							.title
								a(href="") La fiscalité des associations
							.location Lieu : Nantes
							.availablePlaces Place(s) disponible(s) : 11
						.clear

					li
						a(href="") Voir plus de formations ...

		.row
			#partenaires.columns.large-12.medium-12.small-12
				h3 Nos partenaires
				ul
					li
						a
							img(src="img/partenaires/BM_44.jpg")
					li
						a
							img(src="img/partenaires/Conseil-g_n_ral.jpg")
					li
						a
							img(src="img/partenaires/logo_casal+www.jpg")
					li
						a
							img(src="img/partenaires/Logo_credit_Mutuel.jpg")

	.columns.large-4.medium-5.small-12
		aside
			h5 Actualité
			#actualites
				.actu(data-actu="1")
					p.title Revue de Presse du CDOS
					small le vendredi 13 Mars 2015
					p Comme chaque mois, le CDOS 44 diffuse à l'ensemble de ses adhérents, la Revue de Presse du mois précédent.
				.actu(data-actu="2")
					p.title Le 29 mars : Raid du Quai vert
					small le lundi 02 Mars 2015
					p 3ème édition du Raid du Quai vert, éco-responsable ouvert à tous les amoureux des sports de nature !
				.actu(data-actu="3")
					p.title Dossier de demande de Subvention CNDS 2015
					small le vendredi 17 février 2015
					p La campagne CNDS 2015 est lancée. Vous pouvez télécharger les documents supports : dossier CNDS 2015 clubs 44, comité, note d’orientation départementale et guide projet club au sein de cet article.
				div.footer
					a.btn.fi-arrow-left#actu-prev
					a.btn.fi-arrow-right#actu-next
					a.btn.fi-arrows-expand

		aside
			h5 Boîte à outils
			div
				ul
					li
						a Centre de ressources
					li
						a Formations
					li
						a Services aux comités
					li
						a Acteurs du Sport
					li
						a Trouver un comité
					li
						a Glossaire
					li
						a Newsletter

script(type='text/javascript').
	$('#slides').slick({
		autoplay: true,
		autoplaySpeed: 3000,
		infinite: true,
		fade: true,
		cssEase: 'linear'
	});
