Site/index.jade
doctype html

html(lang="fr")

	head
		title="Comité Départemental Olympique et Sportif"
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")

		link(rel="stylesheet", type="text/css", href="css/foundation.css")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/foundation-icons.css")
		link(rel="stylesheet", type="text/css", href="css/slick.css")
		link(rel="stylesheet", type="text/css", href="css/slick-theme.css")
		link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Lato:300')
		link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Over+the+Rainbow')

		link(rel="icon", type="image/png", href="img/favicon.png")

	body
		header
			.row
				.columns.large-12.medium-12.small-12
					#social
						//- a.btn.fi-magnifying-glass(href="")
						a.btn.fi-social-facebook(href="")
						a.btn.fi-social-twitter(href="")
						a.btn.fi-mail(href="#contact")
					.row
						.columns.large-12.medium-12.small-12
							img(src="img/logo.jpg")
					.row
						.columns.large-12.medium-12.small-12
							h1 Comité Départemental Olympique & Sportif

		nav
			.row
				.columns.large-12.medium-12.small-12
					div#menu
						ul
							li#menu-tool
								a.fi-list
							li
								a(href="") Accueil
							li
								a(href="") CDOS
							li
								a(href="") CRIB
							li
								a(href="") Club Atlantique
							li
								a(href="") Club Formateur
							li.border-right
								a(href="") Actu
							li.search
								div
									i.fi-magnifying-glass
									input(type="text", name="search", placeholder="Rechercher...")
		#content

		footer
			.row
				.columns.large-12.medium-12.small-12
					p Copyright © 2015 CDOS 44. Tous droits réservés.
			.row
				.columns.large-12.medium-12.small-12
					ul
						li
							a(href="#contact") Contact
						li
							a(href="") Plan du site
						li
							a(href="") Mentions légales


		script(type="text/javascript" src="js/vendor/jquery.js")
		script(type="text/javascript" src="js/foundation.min.js")
		script(type="text/javascript" src="js/jquery-ui.min.js")
		script(type="text/javascript" src="js/slick.min.js")
		script(type="text/javascript" src="js/action.js")

Site/index.html
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Comité Départemental Olympique et Sportif</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Over+the+Rainbow">
    <link rel="icon" type="image/png" href="img/favicon.png">
  </head>
  <body>
    <header>
      <div class="row">
        <div class="columns large-12 medium-12 small-12">
          <div id="social"><a href="" class="btn fi-social-facebook"></a><a href="" class="btn fi-social-twitter"></a><a href="#contact" class="btn fi-mail"></a>
          </div>
          <div class="row">
            <div class="columns large-12 medium-12 small-12"><img src="img/logo.jpg"></div>
          </div>
          <div class="row">
            <div class="columns large-12 medium-12 small-12">
              <h1>Comité Départemental Olympique & Sportif</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav>
      <div class="row">
        <div class="columns large-12 medium-12 small-12">
          <div id="menu">
            <ul>
              <li id="menu-tool"><a class="fi-list"></a></li>
              <li><a href="">Accueil</a></li>
              <li><a href="">CDOS</a></li>
              <li><a href="">CRIB</a></li>
              <li><a href="">Club Atlantique</a></li>
              <li><a href="">Club Formateur</a></li>
              <li class="border-right"><a href="">Actu</a></li>
              <li class="search">
                <div><i class="fi-magnifying-glass"></i>
                  <input type="text" name="search" placeholder="Rechercher...">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div id="content"></div>
    <footer>
      <div class="row">
        <div class="columns large-12 medium-12 small-12">
          <p>Copyright © 2015 CDOS 44. Tous droits réservés.</p>
        </div>
      </div>
      <div class="row">
        <div class="columns large-12 medium-12 small-12">
          <ul>
            <li><a href="#contact">Contact</a></li>
            <li><a href="">Plan du site</a></li>
            <li><a href="">Mentions légales</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/foundation.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/action.js"></script>
  </body>
</html>
